.page-tit{
  height: 100rpx;
  line-height: 100rpx;
  background: #2fa4e7;
  color: #fff;
  text-align: center;
  font-size: 36rpx;
  &.has-back{
    display: flex;
    height: 60rpx;
    padding: 20rpx;
    .tit{
      width: 100%;
      line-height: 60rpx;
    }
  }
}

.back{
  z-index: 999;
   position: relative;
   //overflow: hidden;
   width: 60rpx;
   height: 60rpx;
   left: 20rpx;
   &:before,&:after{
     position: absolute;
     content: '';
     left: 0rpx;
     width: 25rpx;
     height: 5rpx;
     background: #fff;
   }
   &:before{
     transform: rotate(45deg);
     top: 60%;
   }
   &:after{
     transform: rotate(-45deg);
     top:35%;
   }
 }

.right_arrow{
  position: relative;
  overflow: hidden;
  width: 30rpx;
  height: 60rpx;
  left: 20rpx;
  &:before,&:after{
    position: absolute;
    content: '';
    right: 0;
    width: 25rpx;
    height: 5rpx;
    background: #999;
  }
  &:before{
    transform: rotate(-45deg);
    top: 60%;
  }
  &:after{
    transform: rotate(45deg);
    top:35%;
  }
}

.down_arrow{
  position: relative;
  overflow: hidden;
  width: 40rpx;
  height: 30rpx;
  &:before,&:after{
    position: absolute;
    content: '';
    top: 65%;
    width: 15rpx;
    height: 5rpx;
    background: #999;
  }
  &:before{
    transform: rotate(45deg);
    left: 0;
  }
  &:after{
    transform: rotate(-45deg);
    left:20%;
  }
}

.one-line-hide{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

@import "./components/login/login";