.other-form-wrap{
  padding: 30rpx 0;
  .other-tit{
    font-size: 32rpx;
    padding:0 30rpx 15rpx;
    border-bottom: 2rpx solid #ddd;
  }
  .ambulance-serve{
    padding: 30rpx;
    >view{
      font-size: 28rpx;
      display: flex;
      flex-direction: row;
      margin-bottom: 20rpx;
      text{
        display: block;
        font-weight: bold;
        margin: 15rpx 0 0 30rpx;
      }
      .floor-tit{
        margin-top: -15rpx;
        >text{
          &:last-child{
            font-size: 24rpx;
            margin-top: 0;
          }
        }
      }
    }
  }
  .aviation-serve,.highSpeedRail-serve,.helicopter-serve{
    padding-bottom: 50rpx;
    .options{
      padding: 30rpx 15rpx 0;
      height: 184rpx;
      >view{
        width: 231rpx;
        border: 1rpx solid #ededed;
        height: 140rpx;
        line-height: 140rpx;
        float: left;
        margin: 10rpx 10rpx 0 0;
        font-size: 26rpx;
        font-weight: bold;
        text-align: center;
        &:nth-child(3n){
          margin-right: 0;
        }
        &.active{
          border-color: #30cf07;
          color: #30cf07;
          background: url("https://www.emtsos.com/emt/v-v1-zh_CN-/emt/img/Selected.png") right top no-repeat;
          background-size: 20%;
        }
      }
    }
    .other-opts{
      display: flex;
      padding: 0 30rpx;
      >text{
        display: block;
        margin-top: 10rpx;
        font-size: 28rpx;
        height: 50rpx;
        line-height: 50rpx;
        font-weight: bold;
      }
    }
  }
  .total{
    font-size: 32rpx;
    font-weight: bold;
    color: #FFAF3D;
    padding: 30rpx 0 20rpx;
    text-align: center;
    &.sm{
      font-size: 28rpx;
      padding: 0;
    }
  }
  .next-step{
    padding: 30rpx;
    text-align: center;
    .agreement{
      font-size: 28rpx;
      font-weight: bold;
      >checkbox{
        margin-left: 10rpx;
      }
      >text:last-child{
        margin-left: 20rpx;
        color: #FF8040;
      }
    }
    >button{
      background: #3399f3;
      color: #fff;
      width: 400rpx;
      height: 80rpx;
      line-height: 80rpx;
      margin-top: 50rpx;

      &.btn-hover{
        background: #2f82cc;
      }
    }
  }
  .other-serve-link{
    display: flex;
    padding: 30rpx;
    &.hide{
      display: none;
    }
    >view{
      width: 33.33%;
      text-align: center;
      font-size: 28rpx;
      color: #2fa4e7;
    }
  }
  picker.select{
    width: 100rpx;
    height: 50rpx;
    line-height: 50rpx;
    border-radius: 10rpx;
    margin: 10rpx 0 0 50rpx;
    text-align: center;
    background: #3399f3;
    color: #fff;
    font-size: 28rpx;
    &.hide{
      display: none;
    }
  }

}
