.order-list-wrap{
  padding: 0 30rpx;
  border-bottom: 20rpx solid #eee;

  .order-item{
    position: relative;
    padding: 40rpx 0;
    font-size: 28rpx;
    line-height: 1.6;
    border-bottom: 2rpx solid #ccc;
    &:last-child{
      border: none;
    }

    >view{
      display: flex;
      padding-right: 60rpx;
      margin-bottom: 20rpx;
      &.mb0{
        margin-bottom: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }

      .status{
        color: #f05b48;
        padding-left: 50rpx;
      }
    }
  }
}