.news-wrap{
  border-bottom: 2rpx solid #e7efed;
  padding:0 30rpx ;
  margin-bottom: 140rpx;


  .news-list{
    .news-item{
      padding: 30rpx 0;
      display: flex;
      border-bottom: 2rpx solid #eee;
      &:last-child{
        border-bottom: none;
      }

      .img{
        width: 200rpx;
        height: 150rpx;
        margin-right: 20rpx;
      }

      .content{
        width: 460rpx;
        font-size: 26rpx;
        line-height: 1.4;
        color: #555;
        text-align: justify;

        .tit{
          font-weight: bold;
          padding-bottom: 10rpx;
        }
      }

    }
  }
}