.order-nav{
  display: flex;
  flex-direction: row;
  height: 43rpx;
  line-height: 43rpx;
  margin: 22rpx 10rpx;
  .tab-item{
    width: 25%;
    text-align: center;
    font-size: 30rpx;
    border-right: 2rpx solid #ccc;
    &.active{
      color: #3399f3;
    }
    &:last-child{
      border-right: none;
    }
  }
}

.o-h{
  overflow-y: hidden;
}

.question{
  display: flex;
  height: 28rpx;
  font-size: 28rpx;
  line-height: 28rpx;
  margin-top: 60rpx;
  >view{
    flex: 1;
    color: #999;

  }
  .faq{
    text-align: right;
    padding-right: 20rpx;
    border-right: 1px solid #ccc;
  }
  .res{
    padding-left: 21rpx;
  }
}


@import "../../components/mainForm/mainForm.scss";
@import "../../components/otherForm/otherForm.scss";
@import "../../components/addressSelect/addressSelect.scss";
