.map-wrap,.end-address-wrap{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  overflow-y: hidden;
  z-index: 99;
  background: #fff;
  .suggestion{
    .section{
      display: flex;
      position: relative;
      flex-direction: row;
      height: 60rpx;
      padding: 20rpx 0;
      background: #2fa4e7;
      color: #fff;
      .back{
        z-index: 100;
        //position: absolute;
      }
      >input{
        text-align: center;
        display: block;
        margin: 0 auto;
        padding: 0 10rpx;
        font-size: 30rpx;
        width: 500rpx;
        height: 60rpx;
        line-height: 60rpx;
        background: #fff;
        color: #666;
        border-radius: 6rpx;
      }
      .edit{
        color: #fff;
        height: 60rpx;
        line-height: 60rpx;
        padding-right: 30rpx;
        font-size: 30rpx;
      }
    }
    .section-city{
      display: flex;
      flex-direction: row;
      position: relative;
      font-size: 28rpx;
      height: 94rpx;
      border-top: 1rpx solid #f5f5f5;
      border-bottom: 16rpx solid #f5f5f5;
      line-height: 94rpx;
      padding: 3rpx 30rpx ;
      .city{
        display: flex;
        flex-direction: row;
        font-weight: bold;
        >.down_arrow{
          top:25rpx;
          margin-left: 15rpx;
        }
      }
      >input{
        position: relative;
        width: 300rpx;
        font-size: 28rpx;
        margin-left: 15rpx;
        top:17rpx;
        background: #ffffff;
        border: none;
        padding: 5rpx;
        outline: none;
        text-align: center;
      }
      .cancel{
        position: absolute;
        right: 30rpx;
        margin-left: 15rpx;
        font-weight: bold;
      }
    }
    .sug_info{
      padding: 10rpx 15rpx;
      min-height: 1110rpx;
      font-size: 24rpx;
      >view{
        height: 120rpx;
        display: flex;
        flex-direction: row;
        border-bottom: 2rpx solid #f5f5f5;
        .eqc{
          width: 16rpx;
          height: 16rpx;
          padding: 12rpx;
          margin-top: 40rpx;
          background: url("https://www.emtsos.com/emt/v-v1-zh_CN-/emt/img/eqc.png") center no-repeat;
          background-size: 100%;
        }
        .content{
          width: 600rpx;
          padding: 28rpx 15rpx 0;
          .tit{
            font-size: 28rpx;
          }
          .desc{
            margin-top: 0;
            color: #d0d0d0;
          }
          .province-item{
            font-size: 28rpx;
            margin-top: 15rpx;
          }
        }
        .right_arrow{
          margin-top: 30rpx;
          float: right;
        }
      }
    }
    .usual-city{
      padding: 5rpx 15rpx;
      height: 190rpx;
      border-bottom: 16rpx solid #f5f5f5;
      >view{
        width: 231rpx;
        border: 1rpx solid #ededed;
        height: 78rpx;
        float: left;
        margin: 10rpx 10rpx 0 0;
        font-size: 26rpx;
        line-height: 78rpx;
        font-weight: bold;
        text-align: center;
        &:nth-child(3n){
          margin-right: 0;
        }
        &.active{
          border-color: #30cf07;
          color: #30cf07;
          background: url("https://www.emtsos.com/emt/v-v1-zh_CN-/emt/img/Selected.png") right top no-repeat;
          background-size: 20%;
        }
      }
    }
  }
}

map#startlocate{
  position: absolute;
  width: 100%;
  top: 100rpx;
}

.edit-address-wrap{
  position: fixed;
  display: flex;
  bottom: 0;
  padding: 0 15rpx 0 30rpx;
  background: #fff;
  border-top: 2rpx solid #ccc;
  border-bottom: 2rpx solid #ccc;
  height: 76rpx;
  line-height: 76rpx;
  font-size: 28rpx;

  .one-line-hide{
    width: 590rpx;
  }

  button{
    width: 108rpx;
    height: 76rpx;
    line-height: 76rpx;
    padding: 0;
    font-size: 28rpx;
    background: #e6b05f;
  }
}